@import "mixin";

ul,li {
  list-style: none;
}

body {
  min-width: 1200px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  @include _mqmax(){
    min-width: 320px;
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

